In [9]:
#Cleaning the Data
#Importing modules
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
from sklearn import tree, svm, metrics
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.datasets import load_digits
from sklearn.preprocessing import scale
import matplotlib.pyplot as plt
#Team Stats Cleaning
#Importing Data
TeamStats = pd.read_csv('TeamStats.csv')
teams = TeamStats.drop_duplicates('TEAM')['TEAM']
TeamStats.set_index("TEAM", inplace=True)
#Assigning Each team to their own DF 
Jazz = TeamStats.loc['Utah Jazz']
Spurs = TeamStats.loc['San Antonio Spurs']
Lakers = TeamStats.loc['Los Angeles Lakers']
Sixers = TeamStats.loc['Philadelphia 76ers']
Kings = TeamStats.loc['Sacramento Kings']
Mavericks = TeamStats.loc['Dallas Mavericks']
Bucks = TeamStats.loc['Milwaukee Bucks']
Suns = TeamStats.loc['Phoenix Suns']
Heat = TeamStats.loc['Miami Heat']
Blazers = TeamStats.loc['Portland Trail Blazers']
Knicks = TeamStats.loc['New York Knicks']
Sixers = TeamStats.loc['Philadelphia 76ers']
Kings = TeamStats.loc['Sacramento Kings']
Mavericks = TeamStats.loc['Dallas Mavericks']
Timberwolves = TeamStats.loc['Minnesota Timberwolves']
Raptors = TeamStats.loc['Toronto Raptors']
Hornets = TeamStats.loc['Charlotte Hornets']
Rockets = TeamStats.loc['Houston Rockets']
Sonics = TeamStats.loc['Seattle SuperSonics']
Magic = TeamStats.loc['Orlando Magic']
Pacers = TeamStats.loc['Indiana Pacers']
Nuggets = TeamStats.loc['Denver Nuggets']
Celtics = TeamStats.loc['Boston Celtics']
Pistons = TeamStats.loc['Detroit Pistons']
LosClippers = TeamStats.loc['Los Angeles Clippers']
Cavs = TeamStats.loc['Cleveland Cavaliers']
Nets = TeamStats.loc['New Jersey Nets']
Knicks = TeamStats.loc['New York Knicks']
Hawks = TeamStats.loc['Atlanta Hawks']
VGrizz = TeamStats.loc['Vancouver Grizzlies']
Wizards = TeamStats.loc['Washington Wizards']
Warriors = TeamStats.loc['Golden State Warriors']
Bulls = TeamStats.loc['Chicago Bulls']
MGrizz = TeamStats.loc['Memphis Grizzlies']
NolaHornets = TeamStats.loc['New Orleans Hornets']
CBobcats = TeamStats.loc['Charlotte Bobcats']
OKHornets = TeamStats.loc['New Orleans/Oklahoma City Hornets']
ThunderO = TeamStats.loc['Oklahoma City Thunder']
Nets = TeamStats.loc['Brooklyn Nets']
OPelicans = TeamStats.loc['New Orleans Pelicans']
LAClippers = TeamStats.loc['LA Clippers']
ChaHornets = TeamStats.loc['Charlotte Hornets']
#Combining Franchises that have moved to their current Location
Pelicans = pd.concat([OPelicans,OKHornets,NolaHornets])
Pelicans = Pelicans.sort_values(by='YR')
Grizz = pd.concat([VGrizz,MGrizz])
Grizz = Grizz.sort_values(by = 'YR')
Clippers = pd.concat([LosClippers,LAClippers])
Clippers = Grizz.sort_values(by = 'YR')
Hornets = pd.concat([ChaHornets,CBobcats])
Hornets = Hornets.sort_values(by = 'YR')
Thunder = pd.concat([ThunderO , Sonics])
Thunder = Thunder.sort_values(by = "YR")

In [10]:
#Cleaning the Player data
Players = pd.read_csv('PlayerStats.csv')
players = []
players = Players['PLAYER']
players.drop_duplicates()
Players.set_index("PLAYER", inplace=True)
i = 0 
#Creating a Tuple of players where each player has their yearly stats under their name
playerTup = {}
for index, row in Players.iterrows():
    if index in playerTup:
        continue
    else:
        curr = Players.loc[index]
        playerTup[index] = (index,curr)
playerTup['LeBron James'][1]

,Unnamed: 0,YR,TEAM,AGE,GP,W,L,MIN,PTS,FGM,...,DREB,REB,AST,TOV,STL,BLK,PF,DD2,TD3,PM
PLAYER,,,,,,,,,,,,,,,,,,,,,
LeBron James,1323,2003-04,CLE,19,79,33,46,39.6,20.9,7.9,...,5.5,5.9,3.5,1.6,0.7,1.9,40.0,12,0,-1.8
LeBron James,2217,2005-06,CLE,21,79,47,32,42.5,31.4,11.1,...,7.0,6.6,3.3,1.6,0.8,2.3,53.6,21,5,3.5
LeBron James,2677,2006-07,CLE,22,78,47,31,40.9,27.3,9.9,...,6.7,6.0,3.2,1.6,0.7,2.2,48.2,16,1,4.8
LeBron James,3131,2007-08,CLE,23,75,45,30,40.4,30.0,10.6,...,7.9,7.2,3.4,1.8,1.1,2.2,55.6,31,7,1.8
LeBron James,3583,2008-09,CLE,24,81,66,15,37.7,28.4,9.7,...,7.6,7.2,3.0,1.7,1.1,1.7,53.9,29,7,10.8
LeBron James,4028,2009-10,CLE,25,76,60,16,39.0,29.7,10.1,...,7.3,8.6,3.4,1.6,1.0,1.6,55.8,31,4,8.6
LeBron James,4470,2010-11,MIA,26,79,57,22,38.8,26.7,9.6,...,7.5,7.0,3.6,1.6,0.6,2.1,49.2,31,4,7.8
LeBron James,4923,2011-12,MIA,27,62,45,17,37.5,27.1,10.0,...,7.9,6.2,3.4,1.9,0.8,1.5,50.6,23,0,7.6
LeBron James,5402,2012-13,MIA,28,76,61,15,37.9,26.8,10.1,...,8.0,7.3,3.0,1.7,0.9,1.4,52.1,36,4,9.5
LeBron James,5870,2013-14,MIA,29,77,52,25,37.7,27.1,10.0,...,6.9,6.3,3.5,1.6,0.3,1.6,47.2,12,1,5.3
LeBron James,6353,2014-15,CLE,30,69,50,19,36.1,25.3,9.0,...,6.0,7.4,3.9,1.6,0.7,2.0,46.5,22,2,7.8
LeBron James,6846,2015-16,CLE,31,76,56,20,35.6,25.3,9.7,...,7.4,6.8,3.3,1.4,0.6,1.9,47.1,28,3,8.1
LeBron James,7325,2016-17,CLE,32,74,51,23,37.8,26.4,9.9,...,8.6,8.7,4.1,1.2,0.6,1.8,51.3,42,13,6.5
LeBron James,7946,2017-18,CLE,33,82,50,32,36.9,27.5,10.5,...,8.6,9.1,4.2,1.4,0.9,1.7,54.1,52,18,1.3

In [11]:
#Cleaning Contract Data
Contracts = pd.read_csv('PlayerContracts_raw.csv')
Contracts.set_index('NAME', inplace=True)
Contracts
conTuple = {}
for index, row in Contracts.iterrows():
    if index in conTuple:
        continue
    else:
        curr = Contracts.loc[index]
        conTuple[index] = (index,curr)
print('Done')
conTuple['LeBron James'][1]

Done

,Unnamed: 0,YR,RK,POS,TEAM,SALARY
NAME,,,,,,
LeBron James,1401,2005-2006Season:,129,SF,Cleveland Cavaliers,"$4,621,800"
LeBron James,1792,2006-2007Season:,104,SF,Cleveland Cavaliers,"$5,828,089"
LeBron James,2079,2007-2008Season:,31,SF,Cleveland Cavaliers,"$13,041,250"
LeBron James,2494,2008-2009Season:,28,SF,Cleveland Cavaliers,"$14,410,581"
LeBron James,2901,2009-2010Season:,22,SF,Cleveland Cavaliers,"$15,779,912"
LeBron James,3322,2010-2011Season:,22,SF,Miami Heat,"$14,500,000"
LeBron James,3767,2011-2012Season:,14,SF,Miami Heat,"$17,545,000"
LeBron James,4258,2012-2013Season:,8,SF,Miami Heat,"$19,067,500"
LeBron James,4792,2013-2014Season:,9,SF,Miami Heat,"$19,067,500"
LeBron James,5175,2014-2015Season:,6,SF,Cleveland Cavaliers,"$20,644,400"
LeBron James,5605,2015-2016Season:,2,SF,Cleveland Cavaliers,"$22,970,500"
LeBron James,6039,2016-2017Season:,1,SF,Cleveland Cavaliers,"$30,963,450"

In [12]:
#Function to make year name similiar to player data
def concatenate_list_data(list):
    result= ''
    for element in list:
        result += str(element)
    return result
#Combining player and contract data
newTup = {}
#Changes players that only had one year to frame as opposed to series
for player in conTuple:
    if isinstance(conTuple[player][1], pd.DataFrame):
        newTup[player] = (player,conTuple[player][1])
    else:
        newTup[player] = (player,conTuple[player][1].to_frame().transpose())
#Creates a new column of a year string to match player data 
matchTup = {}
for player in newTup:
    YearStr = newTup[player][1]['YR']
    currentFrame = newTup[player][1]
    matchingYR = []
    for year in YearStr:
        currStr = [year[0:5],year[7:9]]
        a  = str(concatenate_list_data(currStr))
        matchingYR.append(a)
    currentFrame['Match'] = matchingYR
    matchTup[player] = (player,currentFrame)
print('I am done')

C:\Users\thoma\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

I am done

In [13]:
matchTup['Allen Iverson'][1]

,Unnamed: 0,YR,RK,POS,TEAM,SALARY,Match
NAME,,,,,,,
Allen Iverson,1238,2005-2006Season:,4,SG,Philadelphia 76ers,"$16,453,125",2005-06
Allen Iverson,1639,2006-2007Season:,7,SG,Philadelphia 76ers,"$17,184,375",2006-07
Allen Iverson,2055,2007-2008Season:,7,SG,Denver Nuggets,"$19,012,500",2007-08
Allen Iverson,2472,2008-2009Season:,6,SG,Detroit Pistons,"$20,840,625",2008-09
Allen Iverson,2938,2009-2010Season:,379,SG,Memphis Grizzlies,"$650,686",2009-10
Allen Iverson,3378,2010-2011Season:,398,SG,Philadelphia 76ers,"$650,686",2010-11
Allen Iverson,3859,2011-2012Season:,426,SG,Philadelphia 76ers,"$650,686",2011-12
Allen Iverson,4384,2012-2013Season:,454,SG,Philadelphia 76ers,"$650,686",2012-13

In [25]:
finalTup = {}
for player in playerTup:
    Sal = []
    years = playerTup[player][1]['YR']
    if player in matchTup:
        salYears = matchTup[player][1]['Match'].tolist()
        i = 0 
        for year in years:
            if i >= len(salYears):
                Sal.append(0)
            elif year == salYears[i]:
                salAdds = matchTup[player][1]['SALARY'].tolist()
                Sal.append(salAdds[i])
                i += 1
            else:
                Sal.append(0)
    else :
        continue
 
         
    finFrame = playerTup[player][1]
    finFrame['Sal'] = Sal
    finalTup[player] = (player,finFrame)
print('I am done')

C:\Users\thoma\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\thoma\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

I am done

In [42]:
playerStats = pd.DataFrame(columns = list(finalTup['Allen Iverson'][1].columns.values))
#Changes players that only had one year to frame as opposed to series
newFinalTup = {}
for player in finalTup:
    if isinstance(finalTup[player][1], pd.DataFrame):
        newFinalTup[player] = (player,finalTup[player][1])
    else:
        newFinalTup[player] = (player,finalTup[player][1].to_frame().transpose())
for player in newFinalTup:
    for index, row in newFinalTup[player][1].iterrows():
        if row[29] != 0 :
            playerStats.append(row)
print('done')

done

In [37]:
print((finalTup['Larry Johnson'][1]))

Unnamed: 0                      120
YR                          2000-01
TEAM                            NYK
AGE                              32
GP                               65
W                                38
L                                27
MIN                            32.4
PTS                             9.9
FGM                             3.8
FGA                             9.2
FG_per                         41.1
TPM                             0.8
TPA                             2.5
TP_per                         31.3
FTM                               2
FTA                            79.7
FT_per                          1.4
OREB                            4.2
DREB                            5.6
REB                               2
AST                             1.5
TOV                             0.6
STL                             0.4
BLK                             3.2
PF                             21.2
DD2                               3
TD3                               0
PM                             -0.3
Sal           [0, 0, 0, 0, 0, 0, 0]
Name: Larry Johnson, dtype: object